 .title {
   color: #333;
   padding-bottom: 20px;
   text-align: center;
 }

 .text {
   color: #777;
 }

 .btn {
   display: block;
   width: 150px;
   font-weight: 800;
   padding: 8px 0;
   margin: 20px auto;
   background: #d7b8f0;
   border-radius: 4px;
   color: white;
   text-align: center;
 }

 .btn:hover {
  background: #caa4e9;
  transition: 0.6s;
 }